streamlit==1.50.0
streamlit-webrtc==0.64.0
streamlit-camera-input-live==0.2.0
streamlit-extras==0.7.8
streamlit-folium==0.25.3

opencv-python-headless==4.11.0.86
numpy==1.26.4
pandas==2.3.3
pillow==11.3.0

geopy==2.4.1
folium==0.20.0
requests==2.32.5

reportlab==4.4.4
pyyaml==6.0.3
protobuf==6.31.1

pyarrow==21.0.0
watchdog==6.0.0
