streamlit==1.50.0
streamlit-webrtc==0.64.0
streamlit-folium==0.25.3
folium==0.20.0

opencv-python-headless==4.11.0.86
numpy==1.26.4
pandas==2.3.3
Pillow==11.3.0
requests==2.32.5
openpyxl==3.1.5

schedule==1.2.2
